:root {
	--color1: hsla(0, 0%, 98%, 1);
}
* {
	box-sizing: border-box;
	word-wrap: break-word;
}
html, body {
  margin: 0px;
  height: 100%;
}
html {
	background: var(--color1);
}
body {
	width: 100%;
	min-width: 320px;
}
#__nuxt {
  margin: 0px;
}
#__layout {
  margin: 0px;
}
.statcounter {
	position: fixed;
}
.container {
  padding-top: 40px;
  width: 100%;
  font-family: 'Noto Sans SC', sans-serif;
  background: var(--color1);
}
nav {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 40px;
	color: white;
	background: hsla(0, 0%, 20%, 1);
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.6);
	z-index: 2;
}
.nav-wrap {
	margin: 0px auto;
	height: 100%;
	background: inherit;
	display: flex;
	justify-content: space-between;
}
header {
	margin: 0px 0px 0px 8px;
	height: 100%;
	z-index: 2;
}
.nav-home {
	font-size: 1.5rem;
	font-weight: bold;
}
.nav-home, .nav-ul {
	margin: 0px;
	height: 100%;
}
.no-decor-link {
	text-decoration: none;
}
header a:active, header a:visited {
	color: inherit;
}
.nav-ul {
	list-style: none;
	text-align: right;
	display: flex;
	justify-content: center;
	z-index: 1;
}
.nav-link {
	margin-right: 16px;
	height: 36px;
	text-decoration: none;
	cursor: pointer;
	display: block;
}
.nav-link:last-child {
	margin-right: 10px;
}
.nav-link:active {
	color: inherit;
}
.nav-home {
	color: inherit;
	height: 100%;
	line-height: 40px;
}
.nav-link {
	color: inherit;
	line-height: 40px;
}
.nav-link:visited {
	color: inherit;
}
.nav-link:hover{
  color: gray;
}
.nav-link a,.nav-child a {
	text-decoration: none;
}
.nav-parent {
	position: relative;
	margin-right: 16px;
	height: 40px;
	color: inherit;
	line-height: 40px;
	text-decoration: none;
	cursor: default;
	display: block;
}
.nav-child {
  position: absolute;
  top: 30px;
  left: -6px;
  padding: 4px 0px 8px 8px;
  min-width: 100px;
  text-align: left;
  background: hsla(0, 0%, 20%, 1);
  display: none;
  z-index: -1;
}
.nav-child ul {
	list-style: none;
	padding-left: 0px;
}
.nav-child li {
	line-height: 30px;
}
.nav-child li:before {
	content: "·";
	position: relative;
	left: -4px;
}
.nav-child a {
	cursor: pointer;
}
.nav-child a:hover {
	color: gray;
}
@media all and (min-width: 769px) {
	.nav-parent:hover .nav-child {
		display: block;
	}
}
.nav-mask {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background: inherit;
	z-index: 0;
}
.body-mask {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0px;
	transition: height 0.8s;
	background: rgba(0, 0, 0, 0.5);
}
.body-mask-visible {
	height: 100%;
}
.nav-btn {
	width: 40px;
	height: 40px;
	display: none;
	z-index: 2;
}
.bar {
	width: 70%;
	height: 25%;
	text-align: center;
	border-bottom: 2px solid white;
}
.bar:last-child {
	border: none;
}
.container-main {
	margin: 0px auto;
	width: 100%;
}
.below-nav {
  margin: 0px auto;
  padding: 10px 0px 0px 0px;
  width: 1080px;
  display: flex;
  justify-content: space-between;
}
.below-nav a,.below-nav a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.below-nav a:hover {
  color: gray;
}
.ad-below-bread {
  margin: 0px auto;
  padding: 10px 0px 0px 0px;
  width: 800px;
}
@media all and (max-width: 1080px) {
  .below-nav {
    padding-left: 10px;
    padding-right: 16px;
    background: white;
    width: auto;
  }
  .ad-below-bread {
  	padding-left: 10px;
    padding-right: 10px;
    background: white;
    width: 100%;
  }
}
.main-wrap {
  width: 100%;
  min-height: calc(100vh - 189px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-content {
	margin: 20px auto;
	padding: 20px 40px;
	width: 1080px;
	min-height: calc(100vh - 189px);
	background: white;
	border: 1px solid silver;
	border-radius: 5px;
}
.main-content-unit {
	margin: 20px auto;
	padding: 20px;
	width: 1080px;
	background: white;
	border: 1px solid silver;
	border-radius: 5px;
}
.article-title {
	font-size: 34px;
}
a, a:visited {
	color: inherit;
}
.align-left {
	text-align: left;
}
.font-arial {
  font-family: Arial;
}
.blog-link {
  text-decoration: none;
	font-weight: bold;
}
.blog-link:hover {
  color: gray;
}
.blog-date, .blog-tags {
	font-family: "Arial";
	color: gray;
	font-size: 14px;
}
.blog-lang {
	padding: 0px 5px;
  font-size: 14px;
  text-align: center;
  color: gray;
  border: 1px solid silver;
  border-radius: 4px;
  display: inline-block;
}
.blog-lang a {
	text-decoration: none;
	display: inline-block;
}
.blog-lang:hover {
	color: black;
	border-color: black;
}
.blog-cat, .blog-tag {
  margin: 1px;
  padding: 0px 8px 1px 8px;
  font-size: 14px;
  font-family: 'Noto Sans SC', sans-serif;;
  line-height: 20px;
  border-radius: 999px;
  display: inline-block;
}
.blog-cat {
	color: #4c4c4c;
	border: 1px solid #4c4c4c;
}
.blog-tag {
	color: white;
	background: gray;
}
.blog-cat:hover {
	color: white;
}
.blog-cat:hover, .blog-tag:hover {
	background: black;
}
.blog-cat a, .blog-tag a{
	text-decoration: none;
	color: inherit;
	display: inline-block;
}
.font-10 {
  font-size: 10px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
.font-bold {
  font-weight: bold;
}
.font-norm {
  font-weight: normal;
}
.align-center {
  text-align: center;
}
.m-top-0 {
	margin-top: 0px;
}
/* toTop button start */
/* https://www.liaoxuefeng.com/article/895922498171008 */
.go-top {
  opacity: 0.6;
  position: fixed;
  bottom: 40px;
  right: 20px;
  border: 1px solid gray;
  width: 38px;
  height: 38px;
  background-color: rgba(249, 249, 249, 1);
  border-radius: 3px;
  cursor: pointer;
  transition: opacity .3s;
}
.go-top:hover {
    opacity: 1;
}
.go-top .arrow {
  position: absolute;
  left: 10px;
  top: -1px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom-color: gray;
}
.go-top .stick {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 8px;
  height: 14px;
  display: block;
  background-color: gray;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
/* toTop button end */
.go-top-hidden {
	opacity: 0;
	display: none;
}
footer {
	padding: 20px;
	color: white;
	background: hsla(0, 0%, 20%, 1);
}
footer p {
	margin: 0 auto;
	font-size: 14px;
	text-align: center;
}
.hidden {
	display: none;
}

@media all and (max-width: 1080px) {
	nav {
		width: 100%;
	}
	.nav-wrap {
		width: 100%;
	}
	main {
		width: auto;
	}
	.main-content {
		min-height: calc(100vh - 112px);
		padding: 10px;
	}
	.main-content, .main-content-unit {
		margin: 0px;
		width: auto;
		border: none;
		border-radius: 0px;
	}
}
@media all and (max-width: 768px) {
	nav {
		box-shadow: none;
	}
	.nav-mask {
		z-index: 1;
	}
	.nav-ul {
		position: fixed;
		top: 0px;
		left: 0px;
		margin-top: 40px;
		padding: 0px;
		width: 100%;
		height: auto;
		transform: translateY(-100%);
		color: black;
		text-align: left;
		background: white;
		transition: transform 0.8s;
		display: block;
		overflow: hidden;
		z-index: 0;
	}
	.nav-mobile {
		max-height: calc(100vh - 100px);
		transform: translateY(0px);
		overflow-y: scroll;
	}
	.nav-link {
		margin: 0px 10px;
		padding: 12px 0px 0px 10px;
		height: auto;
		line-height: 20px;
		border-bottom: 1px solid black;
		display: block;
	}
	.nav-link:last-child {
		margin-bottom: 10px;
	}
	.nav-link li {
		margin-left: 10px;
		margin-right: 10px;
		width: auto;
		height: auto;
		line-height: 20px;
	}
	.nav-parent {
		margin: 0px 10px;
		padding: 12px 0px 0px 10px;
		height: auto;
		line-height: 20px;
		border-bottom: 1px solid black;
	}
	.nav-parent ul {
		margin-top: 8px;
	}
	.nav-child {
		position: unset;
		padding: 0px;
		color: inherit;
		background: none;
	}
	.nav-child li {
		line-height: 24px;
	}
	.nav-btn {
		display: block;
	}
}
@media all and (max-width: 600px) {
	.container {
		padding-top: 40px;
	}
	.main-content {
		min-height: calc(100vh - 112px);
	}
	footer {
		border-top: 1px solid rgba(0, 0, 0, 0.6);
	}
}

.google-auto-placed.ap_container iframe {
  margin: 0px;
}
.isShow {
	display: block;
}