:root {
	--color1: hsla(0, 0%, 98%, 1);
}
* {
	box-sizing: border-box;
	word-wrap: break-word;
}
html, body {
  margin: 0px;
  height: 100%;
}
html {
	background: var(--color1);
}
body {
	width: 100%;
	min-width: 320px;
}
#__nuxt {
  margin: 0px;
}
#__layout {
  margin: 0px;
}
.statcounter {
	position: fixed;
}
.container {
  padding-top: 40px;
  width: 100%;
  font-family: "Microsoft Yahei",sans-serif;
  background: var(--color1);
}
nav {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 40px;
	color: white;
	font-family: "Poppins", Sans-serif, "Microsoft Yahei";
	background: hsla(0, 0%, 20%, 1);
	z-index: 2;
}
.nav-wrap {
	margin: 0px auto;
	height: 100%;
	background: inherit;
	display: flex;
	justify-content: space-between;
}
header {
	font-family: 'Gugi', 'Comic Sans MS';
	margin: 0px 0px 0px 10px;
	height: 100%;
	z-index: 2;
}
.nav-home {
	font-size: 1.5rem;
	font-weight: bold;
}
.nav-home, .nav-ul {
	margin: 0px;
	height: 100%;
}
.no-decor-link {
	text-decoration: none;
}
header a:active, header a:visited {
	color: inherit;
}
.nav-ul {
	list-style: none;
	text-align: right;
	display: flex;
	justify-content: center;
	z-index: 1;
}
.nav-ul li {
	height: 36px;
}
.nav-link {
	margin-right: 20px;
	height: 35px;
	text-decoration: none;
	cursor: pointer;
}
.nav-link:last-child {
	margin-right: 10px;
}
.nav-link:active {
	color: inherit;
}
.nav-home {
	color: inherit;
	height: 100%;
	line-height: 40px;
}
.nav-link {
	color: inherit;
	line-height: 40px;
}
.nav-link:visited {
	color: inherit;
}
.nav-link:hover{
    color: gray;
}
.nuxt-link-active {
	border-bottom: 2px solid white;
}
.nav-mask {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background: inherit;
	z-index: 0;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.6);
}
.body-mask {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0px;
	transition: height 0.8s;
	background: rgba(0, 0, 0, 0.5);
}
.body-mask-visible {
	height: 100%;
}
.nav-btn {
	width: 40px;
	height: 40px;
	display: none;
	z-index: 2;
}
.bar {
	width: 70%;
	height: 25%;
	text-align: center;
	border-bottom: 2px solid white;
}
.bar:last-child {
	border: none;
}
main {
	margin: 0px auto;
	width: 100%;
}
.main-wrap {
  width: 100%;
  min-height: calc(100vh - 160px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.breadcrumbs {
	margin: 0px auto;
	padding: 8px 0px;
	width: 1080px;
	transform: translateY(8px);
}
.breadcrumbs a,.breadcrumbs a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.breadcrumbs a:hover {
  color: gray;
}
.main-content {
	margin: 40px auto;
	padding: 20px 40px;
	width: 1080px;
	min-height: calc(100vh - 192px);
	background: white;
	border: 1px solid silver;
	border-radius: 5px;
}
.main-content-unit {
	margin: 40px auto;
	padding: 20px;
	width: 1080px;
	background: white;
	border: 1px solid silver;
	border-radius: 5px;
}
.article-title {
	font-size: 34px;
}
a, a:visited {
	color: inherit;
}
.align-left {
	text-align: left;
}
.font-arial {
  font-family: Arial;
}
.blog-link {
  text-decoration: none;
	font-weight: bold;
}
.blog-link:hover {
  color: gray;
}
.blog-date, .blog-tags {
	font-family: "Arial";
	color: gray;
	font-size: 14px;
}
.blog-lang {
	display: inline-block;
    width: 60px;
    font-size: 14px;
    text-align: center;
    color: gray;
    border: 1px solid silver;
    border-radius: 4px;
}
.blog-lang:hover {
	color: black;
	border-color: black;
}
.blog-tag {
    margin: 1px;
    padding: 0px 8px;
    color: white;
    font-size: 12px;
    font-family: "Microsoft Yahei";
    line-height: 20px;
    border-radius: 999px;
    background: gray;
    display: inline-block;
}
.blog-tag:hover {
	background: black;
}
.blog-tag a{
	text-decoration: none;
	color: inherit;
}
img {
	max-width: 100%;
}
.font-10 {
  font-size: 10px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
.font-bold {
  font-weight: bold;
}
.font-norm {
  font-weight: normal;
}
.align-center {
  text-align: center;
}
/* toTop button start */
/* https://www.liaoxuefeng.com/article/895922498171008 */
.go-top {
    opacity: 0.6;
    z-index: 99;
    position: fixed;
    bottom: 40px;
    right: 20px;
    margin-left: 40px;
    border: 1px solid gray;
    width: 38px;
    height: 38px;
    background-color: rgba(249, 249, 249, 1);
    border-radius: 3px;
    cursor: pointer;
    transition: opacity .3s;
}
.go-top:hover {
    opacity: 1;
}
.go-top .arrow {
    position: absolute;
    left: 10px;
    top: -1px;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-bottom-color: gray;
}
.go-top .stick {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 8px;
    height: 14px;
    display: block;
    background-color: gray;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
/* toTop button end */
.go-top-hidden {
	opacity: 0;
	display: none;
}
footer {
	padding: 20px;
	color: white;
	background: hsla(0, 0%, 20%, 1);
}
footer p {
	margin: 0 auto;
	font-size: 14px;
	text-align: center;
}

@media all and (max-width: 1080px) {
	nav {
		width: 100%;
	}
	.nav-wrap {
		width: 100%;
	}
	main {
		width: auto;
	}
	.breadcrumbs {
		padding-left: 10px;
		width: auto;
		background: white;
	}
	.main-content {
		min-height: calc(100vh - 112px);
		padding: 10px;
	}
	.main-content, .main-content-unit {
		margin: 0px;
		width: auto;
		border: none;
		border-radius: 0px;
	}
}

@media all and (max-width: 600px) {
	.container {
		padding-top: 40px;
	}
	nav {
		box-shadow: none;
	}
	.nav-mask {
		z-index: 1;
	}
	.nav-ul {
		position: fixed;
		top: 0px;
		left: 0px;
		margin-top: 40px;
		padding: 0px;
		width: 100%;
		height: auto;
		transform: translateY(-100%);
		color: black;
		text-align: left;
		background: white;
		transition: transform 0.8s;
		display: block;
		overflow: hidden;
		z-index: 0;
	}
	.nav-mobile {
		transform: translateY(0px);
	}
	.nav-link {
		margin: 0px 10px;
		padding: 12px 0px 0px 0px;
		height: auto;
		line-height: 20px;
		border-bottom: 1px solid black;
		display: block;
	}
	.nav-link:last-child {
		margin-bottom: 10px;
	}
	.nav-link li {
		margin-left: 10px;
		margin-right: 10px;
		width: auto;
		height: auto;
		line-height: 20px;
	}
	.nav-btn {
		display: block;
	}
	.main-content {
		min-height: calc(100vh - 112px);
	}
	footer {
		border-top: 1px solid rgba(0, 0, 0, 0.6);
	}
}
