{% unless page.redirect %}
  {% if site.google_analytics %}
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      {% if site.hydejack.cookies_banner %}
        if (navigator.CookiesOK) {
          ga('create', '{{ site.google_analytics }}', 'auto');
        } else if (localStorage && localStorage.getItem('hy:cookiesOK')) {
          ga('create', '{{ site.google_analytics }}', {
            'storage': 'none',
            'clientId': localStorage.getItem('ga:clientId')
          });
        } else {
          ga('create', '{{ site.google_analytics }}', {
            'storage': 'none'
          });
          ga('set', 'forceSSL', true);
          ga('set', 'anonymizeIp', true);
        }
      {% else %}
        ga('create', '{{ site.google_analytics }}', 'auto');
      {% endif %}
      ga('send', 'pageview');
      loadJSDeferred('https://www.google-analytics.com/analytics.js');
      var aTags = document.getElementsByTagName("a");
      for (let i = 0; i < aTags.length; i++) {
        if (!/^https:\/\/(www|e-comm)\.houzhenni(\.com\/$|\.com\/\d.+)/.test(aTags[i].href)) {
          aTags[i].target = "_blank";
        }
      }
      document.getElementsByTagName("body")[0].addEventListener("click", function() {
        var aTags = document.getElementsByTagName("a");
        for (let i = 0; i < aTags.length; i++) {
          if (!/^https:\/\/(www|e-comm)\.houzhenni(\.com\/$|\.com\/\d.+)/.test(aTags[i].href) && aTags[i].target != "_blank") {
            aTags[i].target = "_blank";
          }
        }
      });
    </script>
  {% endif %}

  <!--[if gt IE 9]><!---->
  {% capture js_url %}{% link assets/js/hydejack-7.5.0.js %}{% endcapture %}
  <script>loadJSDeferred('{{ js_url | relative_url }}');</script>
  {% include my-scripts.html %}
  <!--<![endif]-->
{% endunless %}
