<style>
	#statScript{
		width: 100%;
		height: fit-content;
	}
	#statScript a:after{
		content: "";
	}
	#statScript img{
		position: fixed;
		right: 1rem;
		bottom: 0.5rem;
		margin-bottom: 0rem;
	}
</style>
<div id="statScript">
<!-- Default Statcounter code for Jenny's blog http://www.houzhenni.com -->
<script type="text/javascript">
var sc_project=11716132; 
var sc_invisible=0; 
var sc_security="63c1267e"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="http://statcounter.com/" target="_blank"><img class="statcounter"
src="//c.statcounter.com/11716132/0/63c1267e/0/" alt="Web
Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->
</div>
