hy-push-state{
	background-color: #d3e8ef;
}
.mb6{
	background-color: rgba(255,255,255,0.9);
	border-left: .4rem solid #007480;
	padding: .5rem;
}
.mb6:hover{
	border-left-color: darkorange;
}
.icon-menu{
	background-color: white;
}
.icon-menu:before{
	border: .5rem solid white;
	border-radius: .5rem;	
}
.layout-post{
	background-color: rgba(255,255,255,0.8);
}
.message{
	margin-left: 1rem;
	margin-right: 1rem;
}